.lang {
  position: absolute;
  top: 20px;
  left: 50px;
}

.lang__item {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0px;
  margin-right: 6px;
  margin-left: 6px;

  &::after {
    display: inline-block;
    content: "/";
    position: absolute;
    right: -10px;
  }

  &:last-child::after {
    display: none;
  }
}

.lang__item:hover {
  color: 009cff;
  cursor: pointer;
  &::after {
    color: #fff;
  }
}
