.page-header {
  position: relative;
  width: 100%;
  min-height: 800px;
  background: url(../images/page-header/pageHeaderBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
